<%= form_for(@user) do |f| %>
  <form class="form-signin">
    <div class="field">
      <%= f.label :nome %><br>
      <%= f.text_field :nome, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, class: "form-control"  %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control"  %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
    <div class="actions btn btn-default btn-block">
      <%= f.submit %>
    </div>
  </form>
<% end %>
