<% if logged_in? %>
<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		<%=h @date.strftime("%B %Y") %>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	</h2>
	<!-- Monta o calendario -->
	<%= calendar_for @compromissos, :year => @date.year, :month => @date.month do |t| %>
	<%= t.head('DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB') %>
	<%= t.day do |day, compromissos| %>
	<%= day.day %>
	<% compromissos.each do |compromisso| %><br>
	<%= link_to h(compromisso.titulo), compromisso %><br>
	<%= compromisso.start_date.strftime("%H:%M")%><br>
	<%= compromisso.end_date.strftime("%H:%M")%>
	<% @sala = Sala.find(compromisso.sala_id)%>
	<%= @sala.nome %>
	<% if (compromisso.user == @user || @user.super ) %>
		<%= link_to 'Editar', edit_compromisso_path(compromisso) %> | <%= link_to 'Cancelar', compromisso, method: :delete, data: { confirm: 'Tem certeza?' } %>
	<% end %>
	<% end %>
	<% end %>
	<% end %>
</div>
<% end %>
